
<div class="container">
<<<<<<< HEAD
  <div class="form">
=======
  <div class="form fixed-top">
>>>>>>> db06e75927883124e076980a832353c4bc64f20d
    <div class="login-img">
      <%= image_tag "bug.png", :width => 100, :height => 100, :crop => :fill%>
    </div>
    <%= render 'form'%>
  </div>
</div>
