
<div class="col-lg-12 mb-6 name">
  <p>Welcome <%= @employee.name %></p> <br>
  <p><%= @employee.department %></p>
</div>


<div id="employee" class="bug auth-form-body mt-3">
    <div class="content">
      <% @employee.tasks.each do |task| %>
        <ul>
            <li class="li"><%=link_to task.ticket.name, task.ticket%></li>
        </ul>
      <% end %>
    </div>
</div>
