


  <div style="height:400px; width:400px; position:relative; text-align:center;margin-left:30%; float: center;" >
    <%= link_to login_path do %>
    <div>
      <%= image_tag "bug.png" , :width => 100, :height => 100, :crop => :fill, :position => :center, :style => "margin-left:35%; position: relative;float:center;margin-top: 70%;"%>
    </div>
    <% end %>
  </div>
