// Place all the styles related to the Employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul {
    display: flex;
    height: 100px;
    list-style-type: none;
    margin: auto;
}

.name {
  text-align: center;
  margin: auto;
}

.bug {
  text-align: center;
  margin: auto;
}

#employee {
  width: 200px;
  height: 300px;
}
.li {
  text-align: center;
}
