<div class="container">
  <div class="title">
    <h1>Customer Service</h1>
  </div>
  <div id="customer" class= "bug auth-form-body mt-3">
    <%@customer_services.each do |customer_service|%>
      <li><%=link_to customer_service.name, customer_service%>
    <%end%>
    <%= link_to customer_path(@customer_services.first.customer.id), class: "btn btn-info" do %>Back
     <% end %>
  </div>
</div>
