<%if logged_in?%>
<header class="row">
  <div class="col-sm-4">
    <div class="logout">
      <%= link_to logout_path, method: :post, class: "btn btn-info" do %>Logout<% end %>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="img">
      <%= image_tag "bug.png", :width => 100, :height => 100, :crop => :fill%>
    </div>
  </div>
</header>
<%end%>
